<div id="Admin_Content">
    <h1 class="page-header">Dashboard</h1>
    <div class="row placeholders">
        <div class="col-md-3 placeholder">
            <button type="button" class="btn btn-lg btn-primary" id="LoadDataAdmin">Load Data</button>
        </div>
        <div class="col-md-3 placeholder">
            <button type="button" class="btn btn-lg btn-success" id="TestAdmin">Test</button>
        </div>
        <div class="col-md-3 placeholder">
            <button type="button" class="btn btn-lg btn-danger" id="DeleteDataAdmin">Delete Data</button>
        </div>
    </div>
</div>