<div id="SingleTrain_Content">

    <div class="container-fluid">

        <div class="col-lg-12" ng-controller="TypeaheadCtrl">
            <form class="navbar-form" role="search">
                <div class="input-group" style="width: 100%; margin: 0 auto;">
                    <input type="text" ng-model="typeahead.queryStr" placeholder="have a try..."
                           typeahead="tip for tip in getTips($viewValue)"
                           typeahead-loading="typeahead.loadingTips"
                           typeahead-editable="true"
                           ng-keydown="inputKeyPress($event)"
                           class="form-control" >
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-success" ng-click="getAction(typeahead.queryStr)"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-lg-12" ng-controller="TypeaheadCtrl">
            <form class="navbar-form" role="search">
                <div class="input-group" style="width: 100%; margin: 0 auto;">
                    <input type="text" ng-model="typeahead.queryStr" placeholder="have a try..."
                           typeahead="tip for tip in getTips($viewValue)"
                           typeahead-loading="typeahead.loadingTips"
                           typeahead-editable="true"
                           ng-keydown="inputKeyPress($event)"
                           class="form-control" >
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-success" ng-click="getAction(typeahead.queryStr)"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-lg-12" ng-controller="TypeaheadCtrl">
            <form class="navbar-form" role="search">
                <div class="input-group" style="width: 100%; margin: 0 auto;">
                    <input type="text" ng-model="typeahead.queryStr" placeholder="have a try..."
                           typeahead="tip for tip in getTips($viewValue)"
                           typeahead-loading="typeahead.loadingTips"
                           typeahead-editable="true"
                           ng-keydown="inputKeyPress($event)"
                           class="form-control" >
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-success" ng-click="getAction(typeahead.queryStr)"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-lg-12" ng-controller="TypeaheadCtrl">
            <form class="navbar-form" role="search">
                <div class="input-group" style="width: 100%; margin: 0 auto;">
                    <input type="text" ng-model="typeahead.queryStr" placeholder="have a try..."
                           typeahead="tip for tip in getTips($viewValue)"
                           typeahead-loading="typeahead.loadingTips"
                           typeahead-editable="true"
                           ng-keydown="inputKeyPress($event)"
                           class="form-control" >
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-success" ng-click="getAction(typeahead.queryStr)"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-lg-12" ng-controller="TypeaheadCtrl">
            <form class="navbar-form" role="search">
                <div class="input-group" style="width: 100%; margin: 0 auto;">
                    <input type="text" ng-model="typeahead.queryStr" placeholder="have a try..."
                           typeahead="tip for tip in getTips($viewValue)"
                           typeahead-loading="typeahead.loadingTips"
                           typeahead-editable="true"
                           ng-keydown="inputKeyPress($event)"
                           class="form-control" >
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-success" ng-click="getAction(typeahead.queryStr)"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-lg-12" ng-controller="TypeaheadCtrl">
            <form class="navbar-form" role="search">
                <div class="input-group" style="width: 100%; margin: 0 auto;">
                    <input type="text" ng-model="typeahead.queryStr" placeholder="have a try..."
                           typeahead="tip for tip in getTips($viewValue)"
                           typeahead-loading="typeahead.loadingTips"
                           typeahead-editable="true"
                           ng-keydown="inputKeyPress($event)"
                           class="form-control" >
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-success" ng-click="getAction(typeahead.queryStr)"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container-fluid">
        <h4>Useful Commands</h4>

        <div class="row">
            <div class="col-md-6 col-lg-6">
<pre>
-- frequently used
load_score macd_advanced
load_score weekly
score pcrs
calculate dsa
reports
aip
calculate global
</pre>

<pre>
-- load data
load stock
load bond
load fund
load tushare_report
</pre>

<pre>
-- score
score macd_advanced
score macd_advanced SH603567
</pre>

            </div>

            <div class="col-md-6 col-lg-6">
<pre>
-- training
trainSingle score_pcrs 1 10 1
trainSingle score_pcrs 0.8 1.2 0.1.
</pre>

<pre>
-- calculator
calculate IDX999999 badDepth
calculate score_revert
</pre>

<pre>
-- pipe
loadStock | score macd_advanced
</pre>

            </div>
        </div>







    </div>


</div>