<div id="SingleTrain_Content">

    <div class="container-fluid">

        <div class="col-lg-12" ng-controller="TypeaheadCtrl">
            <form class="navbar-form" role="search">
                <div class="input-group" style="width: 100%; margin: 0 auto;">
                    <input type="text" ng-model="typeahead.queryStr" placeholder="have a try..."
                           typeahead="tip for tip in getTips($viewValue)"
                           typeahead-loading="typeahead.loadingTips"
                           typeahead-editable="true"
                           ng-keydown="inputKeyPress($event)"
                           class="form-control" >
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-success" ng-click="getAction(typeahead.queryStr)"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-lg-12" ng-controller="TypeaheadCtrl">
            <form class="navbar-form" role="search">
                <div class="input-group" style="width: 100%; margin: 0 auto;">
                    <input type="text" ng-model="typeahead.queryStr" placeholder="have a try..."
                           typeahead="tip for tip in getTips($viewValue)"
                           typeahead-loading="typeahead.loadingTips"
                           typeahead-editable="true"
                           ng-keydown="inputKeyPress($event)"
                           class="form-control" >
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-success" ng-click="getAction(typeahead.queryStr)"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-lg-12" ng-controller="TypeaheadCtrl">
            <form class="navbar-form" role="search">
                <div class="input-group" style="width: 100%; margin: 0 auto;">
                    <input type="text" ng-model="typeahead.queryStr" placeholder="have a try..."
                           typeahead="tip for tip in getTips($viewValue)"
                           typeahead-loading="typeahead.loadingTips"
                           typeahead-editable="true"
                           ng-keydown="inputKeyPress($event)"
                           class="form-control" >
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-success" ng-click="getAction(typeahead.queryStr)"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-lg-12" ng-controller="TypeaheadCtrl">
            <form class="navbar-form" role="search">
                <div class="input-group" style="width: 100%; margin: 0 auto;">
                    <input type="text" ng-model="typeahead.queryStr" placeholder="have a try..."
                           typeahead="tip for tip in getTips($viewValue)"
                           typeahead-loading="typeahead.loadingTips"
                           typeahead-editable="true"
                           ng-keydown="inputKeyPress($event)"
                           class="form-control" >
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-success" ng-click="getAction(typeahead.queryStr)"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-lg-12" ng-controller="TypeaheadCtrl">
            <form class="navbar-form" role="search">
                <div class="input-group" style="width: 100%; margin: 0 auto;">
                    <input type="text" ng-model="typeahead.queryStr" placeholder="have a try..."
                           typeahead="tip for tip in getTips($viewValue)"
                           typeahead-loading="typeahead.loadingTips"
                           typeahead-editable="true"
                           ng-keydown="inputKeyPress($event)"
                           class="form-control" >
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-success" ng-click="getAction(typeahead.queryStr)"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-lg-12" ng-controller="TypeaheadCtrl">
            <form class="navbar-form" role="search">
                <div class="input-group" style="width: 100%; margin: 0 auto;">
                    <input type="text" ng-model="typeahead.queryStr" placeholder="have a try..."
                           typeahead="tip for tip in getTips($viewValue)"
                           typeahead-loading="typeahead.loadingTips"
                           typeahead-editable="true"
                           ng-keydown="inputKeyPress($event)"
                           class="form-control" >
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-success" ng-click="getAction(typeahead.queryStr)"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>