<div id="Overview_Content">


    <div id="stockTable">
        <table ng-table="tableParams" template-pagination="custom/pager" show-filter="true" class="table table-bordered table-hover">
            <tr ng-repeat="stockinfo in $data"
                class="{{stockinfo.change | changePctLevel}}" ng-dblclick="rowDoubleClick(stockinfo)">
                <td data-title="'Name'" filter="{ 'name': 'text' }" sortable="'name'">
                    <a href="#/Index/{{stockinfo.name}}">{{stockinfo.name}}</a>
                </td>
                <td data-title="'Desp'" filter="{ 'desp': 'text' }" sortable="'desp'">{{stockinfo.desp}}</td>
                <td data-title="'Date'" filter="{ 'date': 'text' }" sortable="'date'">{{stockinfo.date}}</td>
                <td data-title="'Start'" filter="{ 'start': 'text' }" sortable="'start'">{{stockinfo.start}}</td>
                <td data-title="'Max'" filter="{ 'max': 'text' }" sortable="'max'">{{stockinfo.max}}</td>
                <td data-title="'Min'" filter="{ 'min': 'text' }" sortable="'min'">{{stockinfo.min}}</td>
                <td data-title="'Volume'" filter="{ 'volume': 'text' }" sortable="'volume'">{{stockinfo.volume | number }}</td>
                <td data-title="'Total'" filter="{ 'total': 'text' }" sortable="'total'">{{stockinfo.total | number }}</td>
                <td data-title="'Change(%)'" filter="{ 'change': 'text' }" sortable="'change'">{{stockinfo.change * 100 | number: 2 | addPct }}</td>
            </tr>
        </table>

        <table ng-table="dayStatsSampleTableParams" template-pagination="custom/pager" class="table table-bordered table-hover">
            <tr ng-repeat="dayStats in $data">
                <td data-title="'COB'" filter="{ 'cob': 'text' }" sortable="'cob'">{{dayStats.cob}}</td>
                <td data-title="'Up Slow'">{{dayStats.upSlow | keyValueList}}</td>
                <td data-title="'Down Fast'">{{dayStats.downFast | keyValueList}}</td>
                <td data-title="'Long Term Up'">{{dayStats.longTermUpPct | keyValueList}}</td>
                <td data-title="'Long Term Down'">{{dayStats.longTermDownPct | keyValueList}}</td>
                <td data-title="'Short Term Up'">{{dayStats.shortTermUpPct | keyValueList}}</td>
                <td data-title="'Short Term Down'">{{dayStats.shortTermDownPct | keyValueList}}</td>
            </tr>
        </table>

        <div class="row">
            <div class="col-md-3">
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="{{datepicker.format}}" ng-model="datepicker.dt1"
                           is-open="datepicker.opened1" min-date="datepicker.minDay" max-date="datepicker.maxDay"
                           datepicker-options="datepicker.dateOptions"
                           ng-required="true" close-text="Close" ng-change="updateDatePick()" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1($event)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
        </div>

        <table ng-table="dayStatsSelectedTableParams" template-pagination="custom/pager" class="table table-bordered table-hover">
            <tr ng-repeat="dayStats in $data">
                <td data-title="'COB'" filter="{ 'desp': 'text' }" sortable="'cob'">{{dayStats.cob}}</td>
                <td data-title="'Up Slow'">{{dayStats.upSlow | keyValueList}}</td>
                <td data-title="'Down Fast'">{{dayStats.downFast | keyValueList}}</td>
                <td data-title="'Long Term Up'">{{dayStats.longTermUpPct | keyValueList}}</td>
                <td data-title="'Long Term Down'">{{dayStats.longTermDownPct | keyValueList}}</td>
                <td data-title="'Short Term Up'">{{dayStats.shortTermUpPct | keyValueList}}</td>
                <td data-title="'Short Term Down'">{{dayStats.shortTermDownPct | keyValueList}}</td>
            </tr>
        </table>

        <script type="text/ng-template" id="custom/pager">
            <ul class="pager ng-cloak">
                <li ng-repeat="page in pages"
                    ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                    ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                    <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
                    <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
                </li>
                <li>
                    <div class="btn-group">
                        <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                        <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                        <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                        <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
                    </div>
                </li>
            </ul>
        </script>

    </div>
</div>